<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- 字體 （google front LXGW WenKai TC Static） -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap" rel="stylesheet">

</head>
<body>
    <div class="upper_container">
        <!-- 包含文字的元素 -->
        <div class="anime-text">
            健康小幫手
        </div>
        <!-- <h6>你最值得信賴的健康好夥伴104104104</h6> -->
    </div>

    <div class="lower_container_index">

        <div class="lower_container_index_left">
            <h7><strong>健康小幫手</strong></h7><br>
            <hr size = "1" color = black>
            <h7>您最得力的身體狀況監測助手</h7><br>
            <h7>．協助觀測身體數據</h7><br>
            <h7>．提供建議與改善回饋</h7><br>
            <h7>．共享提問系統，讓您健康路上不孤獨</h7><br>


        </div>

        <div class="lower_container_index_right">
            <form method="POST" action="{{ url_for('result') }}">

                <div class="flexbox">
                    <label for="blood_pressure">收縮壓(mmHg):</label>
                    <input type="number" id="blood_pressure_in" name="blood_pressure_in" step="0.1">
                    <label for="blood_pressure">舒張壓(mmHg):</label>
                    <input type="number" id="blood_pressure_out" name="blood_pressure_out" step="0.1">
                </div>
    
                <div class="flexbox">
                    <label for="blood_sugar">血糖(mg/dL):</label>
                    <input type="number" id="blood_sugar" name="blood_sugar" step="0.1">
                </div>
    
                <div class="flexbox">
                    <label for="bmi">身高(cm):</label>
                    <input type="number" id="height" name="height" step="0.1">
                    
                    <label for="bmi">體重(kg):</label>
                    <input type="number" id="weight" name="weight" step="0.1">
                </div>

                <button type="submit" class="back-home">取得健康建議</button>

            </form>
        </div>

        
    </div>

    <div class = "problem_container">
        <div id="health-qa">
            <h2>健康問答</h2>
            <div class="qa-header">
                <span>提問主旨</span>
                <span>類型</span>
                <span>最後更新時間</span>
                <span>狀態</span>
                <span>操作</span>
            </div>
            <div class="qa-row">
                {% for question in questions %}
                <div class="qa-item">
                    <span>{{ question[1] }}</span> <!-- 類型 -->
                    <span>{{ question[2] }}</span> <!-- 類型 -->
                    <span>{{ question[3] }}</span> <!-- 最後更新時間 -->
                    <span>{{ question[4] }}</span> <!-- 狀態 -->
                    <span><a href="/question/{{ question[0] }}">查看問題</a></span>
                </div>
                {% endfor %}
            </div>
            <a href="/ask" class="btn">我要發問</a>
        </div>
    </div>
    
    
    
</body>
</html>
